home/macos/.local/gnupg/bin/** filter=lfs diff=lfs merge=lfs -text
home/macos/.local/gnupg/libexec/** filter=lfs diff=lfs merge=lfs -text
home/macos/.local/gnupg/sbin/** filter=lfs diff=lfs merge=lfs -text
