[include]
	path = ~/dotfiles/.gitconfig.d/common
[core]
	autocrlf = input
	excludesfile = ~/dotfiles/.gitignore_global
[difftool "sourcetree"]
        cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
        cmd = "'' "
        trustExitCode = true
